body{
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
}

.navBar {
    display: flex;
    justify-content: space-between; 
    background-color: #1c1b1a;
    color: white;
    font-size: 150%;
    font-family: 'Work Sans', sans-serif;
    height: 75px;
    width: 100%;
}

.navHeader {
    margin-top: 25px;
    margin-left: 10px;
}

#gitIcon {
    margin-top: 25px;
    margin-right: 20px;
}

.content {
    display: flex;
    justify-content: space-around;
    margin: 50px 80px;
}

.quoteContainer {
    width: 400px;
}

.contentHeader {
    text-align: center;
}

.container {
    text-align: center;
    /* margin-right: 100px; */
}

.quote {
    margin-bottom: 5px;
    font-style: italic;
}

.citation {
    font-weight: 900;
}

.button {
    background-color: #7a7a7a; 
    border: solid;
    border-color: #61440a;
    border-width: 1px;
    color: white;
    padding: 10px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
}
.button:hover {
    padding: 12px 27px;
    cursor: pointer;
}

.moreInfo {
    position: static;
    margin: 25px 0px 50px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-style: solid;
    border-width: 10px;
    border-color: grey;
    border-radius: 5%;
}

.containerText{
    display: flex;
    justify-content: center;
    text-align: center;
}

.fooBar {
    display: flex;
    justify-content: flex-end; 
    background-color: #335752;
    color: white;
    font-size: 150%;
    font-family: 'Work Sans', sans-serif;
    height: 75px;
    width: 100%;
}

.fooNav {
    display: flex;
    justify-content: center;
    margin-right: 25px;
}

.fooA {
    margin: 25px 20px; 
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
}

a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}