html, body{
    height: 100%; 
}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content{
    flex: 1;
}

body{
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
}

    


.navBar {
    display: flex;
    justify-content: space-between; 
    background-color: #1c1b1a;
    color: white;
    font-size: 150%;
    font-family: 'Work Sans', sans-serif;
    height: 75px;
    width: 100%;
}

.navHeader {
    margin-top: 25px;
    margin-left: 10px;
}

#gitIcon {
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 15px;
}

.content {
    display: flex;
    justify-content: space-around;
    margin: 50px 80px;
}

.quoteContainer {
    width: 400px;
}

.contentHeader {
    text-align: center;
}

.container {
    text-align: center;
    /* margin-right: 100px; */
}

.quote {
    margin-bottom: 10px;
    font-style: italic;
}

.citation {
    font-weight: 900;
}

.button {
    background-color: #7a7a7a; 
    border: solid;
    border-color: #7a7a7a;
    border-width: 1px;
    color: white;
    padding: 10px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
}
.button:hover {
    background-color:#335752;
    cursor: pointer;
}

.moreInfo {
    position: static;
    margin: 25px 0px 50px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-style: solid;
    border-width: 10px;
    border-color: grey;
    border-radius: 5%;
    width: 300px;
}

.containerText{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px;
}

.quoteContainer {
    margin-top: 50px;
}

.aboutContainer {
    width: 600px;
}

#aboutMeHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 900;
    height: 200px;
    background-image: url(./pictures/map-photo.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;
}

.aboutContent {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.aboutPhoto {
    display: flex;
    justify-content: space-between;
}

#aboutList {
    text-align: left;
    align-items: center;
}
.rmPMargin {
    margin-top: 0px;
}

.adjustPhoto {
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}

.center-p {
    text-align: center;
}

#disclaimerHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    /* height: 200px; */
    /* margin: 0px; */
}

#disclaimerBody {
    text-align: center;
    height: 500px;
    margin: 20px 40px;
    overflow: auto;
}

.fooBar {
    display: flex;
    justify-content: space-evenly;

    background-color: #335752;
    color: white;
    font-size: 150%;
    font-family: 'Work Sans', sans-serif;
    height: 75px;
    width: 100%;
}

.fooNav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.fooA {
    margin: 25px 20px; 
}

.fooB {
    margin: 25px 20px;
    font-size: 10px; 
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
}

a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .quoteContainer {
        margin: 10px;
        width: 300px;
    }

    .aboutContainer {
        margin: 10px;
        width: 450px;
        height: 200px;
        overflow: auto;
    }

}

@media screen and (max-width: 500px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* margin: 10px; */
    }

    .quoteContainer {
        margin: 10px;
        width: 300px;
        height: 200px;
        overflow: auto;
    }

    .aboutContainer {
        margin: 10px;
        width: 300px;
        height: 200px;
        overflow: auto;
    }

    .fooA, .fooB {
        font-size: 10px;
        margin: 25px 15px;
    }

    a {
        font-size: 14px;
        font-weight: 900;
    }

    .quote::-webkit-scrollbar {
        width: 10px;              
    }
      
    .quote::-webkit-scrollbar-track {
        background: #1c1b1a;       
    }
      
    .quote::-webkit-scrollbar-thumb {
        background-color: rgba(76, 76, 118, 0.509);    
        border-radius: 20px;      
        border: 3px solid rgb(71, 77, 80);  
    }
}

@media screen and (max-width: 300px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }

    .quoteContainer {
        margin: 10px;
        width: 250px;
        height: 200px;
        overflow: auto;
    }

    .aboutContainer {
        margin: 0px;
        width: 250px;
        height: 200px;
        overflow: auto;
    }

    .moreInfo {
        position: static;
        margin: 25px 0px 50px 0px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        border-style: solid;
        border-width: 10px;
        border-color: grey;
        border-radius: 5%;
        width: 230px;
    }

    .adjustPhoto {
        width: 230px;
    }

    a {
        font-size: 14px;
        font-weight: 900;
    }

    .fooA, .fooB {
        font-size: 10px;
        margin: 25px 10px;
    }

    .quote::-webkit-scrollbar {
        width: 10px;              
    }
      
    .quote::-webkit-scrollbar-track {
        background: #1c1b1a;       
    }
      
    .quote::-webkit-scrollbar-thumb {
        background-color: rgba(76, 76, 118, 0.509);    
        border-radius: 20px;      
        border: 3px solid rgb(71, 77, 80);  
    }
}